* {
    box-sizing: border-box;
}

#sobre-mi{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;

}
#sobre-mi img {
    border-radius: 50%;
    width: 150px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    
}

:root{
    --color-primary: #333;
    --color-accent: #e01212;
    --color-text: #fff;
}
#sobre-mi h1{
    color: var(--color-accent);
    margin-bottom: 0.5em;
}

#experiencia h3{
    color: #0779e4;

}
#educacion h3{
    color: #0707e4;
}
#contacto{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

body{
    background-color: var(--color-primary);
    color: var(--color-text);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;

}

#habilidades{
    background-color: #f4f4f4;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.habilidad{
    text-align: center;
}
.habilidad:not(:last-child){
    border-right: 1px solid #ccc;
}

.habilidad i{
    color: #333;
    margin: 5px;
}

#educacion article{
    background-color: #eaeaea;
    margin-bottom: 10px;
    padding: 10px;
}

@media only screen and (max-width: 600px){
    #habilidades{
        grid-template-columns: 1fr;
    }
    .habilidad {
        border-right: none;
        border-bottom: 1px solid #ccc;
    }
    
    .habilidad:last-child {
        border-bottom: none;
    }

}